Repository sbaltus/testing-data-pipelines: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, pytype, bandit, pylint

black:
  name: black
  stages:
  - commit
  - push
  language: system
  entry: black --check

flake8:
  name: flake8
  stages:
  - commit
  - push
  language: system
  entry: flake8 pipelines

isort:
  name: isort
  entry: isort
  args:
  - --check
  language: system

pytype:
  name: pytype
  stages:
  - commit
  - push
  language: system
  entry: pytype --config setup.cfg --verbosity 0 --jobs auto --protocols pipelines

bandit:
  name: bandit
  stages:
  - commit
  - push
  language: system
  entry: bandit -r pipelines

pylint:
  name: pylint
  stages:
  - commit
  - push
  language: system
  entry: poetry run pylint
  args:
  - --rcfile
  - .rcfile

chore: add setup for airflow devenv
  Dockerfile
  README.md
  infrastructure/.gitkeep
  infrastructure/docker-compose.yaml
  poetry.lock
  pyproject.toml
Due: none

chore: add setup for airflow devenv (#3)
  Dockerfile
  README.md
  infrastructure/.gitkeep
  infrastructure/docker-compose.yaml
  poetry.lock
  pyproject.toml
Due: none

feat: add HTTP content download to s3
  Dockerfile
  README.md
  pipelines/__init__.py
  pipelines/tasks/http.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, pytype, bandit, pylint

feat: add download task to DAG
  infrastructure/docker-compose.yaml
  pipelines/__init__.py
  pipelines/dags/etl_dept_and_population.py
  pipelines/tasks/http.py
Due: black, flake8, isort, pytype, bandit, pylint

feat: download georef files (#4)
  Dockerfile
  README.md
  infrastructure/docker-compose.yaml
  pipelines/__init__.py
  pipelines/dags/etl_dept_and_population.py
  pipelines/tasks/http.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, pytype, bandit, pylint

refactor: make s3_client optional
  pipelines/tasks/http.py
Due: black, flake8, isort, pytype, bandit, pylint

feat: add department processor
  pipelines/tasks/departments/department_processor.py
  poetry.lock
  pyproject.toml
  tests/data/empty-file
  tests/data/georef-france-departement-empty.csv
  tests/data/georef-france-departement.csv
Due: black, flake8, isort, pytype, bandit, pylint

feat: add department processor
  pipelines/tasks/departments/population_processor.py
  pipelines/tasks/departments/processor.py
Due: black, flake8, isort, pytype, bandit, pylint

refactor: use common processor
  pipelines/tasks/departments/department_processor.py
Due: black, flake8, isort, pytype, bandit, pylint

chore: ignore notebooks
  .gitignore
Due: none

feat: add population and department merger loader to db
  pipelines/dags/etl_dept_and_population.py
  pipelines/tasks/departments/__init__.py
  pipelines/tasks/departments/departement_and_population_merger.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, pytype, bandit, pylint

tests: add docker config for db
  infrastructure/database/Dockerfile
  infrastructure/database/watcher.sql
  tests/__init__.py
Due: black, flake8, isort, pytype

feat: retrieve and load departments and pollution data (#5)
  .gitignore
  infrastructure/database/Dockerfile
  infrastructure/database/watcher.sql
  pipelines/dags/etl_dept_and_population.py
  pipelines/tasks/departments/__init__.py
  pipelines/tasks/departments/departement_and_population_merger.py
  pipelines/tasks/departments/department_processor.py
  pipelines/tasks/departments/population_processor.py
  pipelines/tasks/departments/processor.py
  pipelines/tasks/http.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/data/empty-file
  tests/data/georef-france-departement-empty.csv
  tests/data/georef-france-departement.csv
Due: black, flake8, isort, pytype, bandit, pylint

chore: update dependencies
  poetry.lock
Due: none

chore: update dependencies (#6)
  poetry.lock
Due: none

chore: add test suite
  tests/conftest.py
  tests/dags/test_etl_dpt_and_population.py
  tests/data/demographyref-france-departement-empty.csv
  tests/data/demographyref-france-departement-match.csv
  tests/data/demographyref-france-departement.csv
  tests/data/departments.parquet
  tests/data/no-match-population.parquet
  tests/data/population.parquet
  tests/tasks/test_department_and_population_merger.py
  tests/tasks/test_department_processor.py
  tests/tasks/test_http.py
  tests/tasks/test_population_processor.py
Due: black, flake8, isort, pytype

feat: get and store pollution data
  pipelines/__init__.py
  pipelines/tasks/http.py
  pipelines/tasks/pollution/models.py
  pipelines/tasks/pollution/processor.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, pytype, bandit, pylint

feat: get and store pollution data (#9)
  pipelines/__init__.py
  pipelines/tasks/http.py
  pipelines/tasks/pollution/models.py
  pipelines/tasks/pollution/processor.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, pytype, bandit, pylint

chore: update readme
  README.md
Due: none

chore: setup local infra
  Makefile
  infrastructure/docker-compose.yaml
  infrastructure/minio/Dockerfile
Due: none

chore: add full local setup
  infrastructure/docker-compose.yaml
  infrastructure/minio/Dockerfile
Due: none

fix: docker build path
  Makefile
  pyproject.toml
Due: none

fix: wrong path to docker compose
  Makefile
Due: none

chore: remove minio
  Makefile
  infrastructure/docker-compose.yaml
Due: none

chore: update deps
  pipelines/dags/etl_pollution_for_department.py
  pipelines/tasks/http.py
  poetry.lock
Due: black, flake8, isort, pytype, bandit, pylint

tests: add testdata
  tests/data/demographyref-france-departement-empty.csv
  tests/data/demographyref-france-departement-match.csv
  tests/data/demographyref-france-departement.csv
  tests/data/departments.parquet
  tests/data/no-match-population.parquet
  tests/data/population.parquet
Due: none

chore: add full local setup (#7)
  Makefile
  infrastructure/docker-compose.yaml
  infrastructure/minio/Dockerfile
  pipelines/dags/etl_pollution_for_department.py
  pipelines/tasks/http.py
  poetry.lock
  pyproject.toml
  tests/data/demographyref-france-departement-empty.csv
  tests/data/demographyref-france-departement-match.csv
  tests/data/demographyref-france-departement.csv
  tests/data/departments.parquet
  tests/data/no-match-population.parquet
  tests/data/population.parquet
Due: black, flake8, isort, pytype, bandit, pylint

chore: add requirements.txt
  requirements.txt
  tests/conftest.py
  tests/dags/test_etl_dpt_and_population.py
  tests/tasks/test_department_and_population_merger.py
  tests/tasks/test_department_processor.py
  tests/tasks/test_http.py
  tests/tasks/test_population_processor.py
Due: black, flake8, isort, pytype

update requirements, thanks françoise
  requirements-dev.txt
  requirements.txt
Due: none

chore: cleanup and use pip
  .gitignore
  Makefile
  README.md
  pipelines/dags/etl_pollution_for_department.py
  pipelines/tasks/http.py
  tests/conftest.py
  tests/dags/__init__.py
  tests/dags/test_etl_dpt_and_population.py
  tests/operators/__init__.py
  tests/tasks/__init__.py
  tests/tasks/test_department_and_population_merger.py
  tests/tasks/test_department_processor.py
  tests/tasks/test_http.py
  tests/tasks/test_population_processor.py
Due: black, flake8, isort, pytype, bandit, pylint

chore: cleanup and use pip (#10)
  .gitignore
  Makefile
  README.md
  pipelines/dags/etl_pollution_for_department.py
  pipelines/tasks/http.py
  tests/conftest.py
  tests/dags/__init__.py
  tests/dags/test_etl_dpt_and_population.py
  tests/operators/__init__.py
  tests/tasks/__init__.py
  tests/tasks/test_department_and_population_merger.py
  tests/tasks/test_department_processor.py
  tests/tasks/test_http.py
  tests/tasks/test_population_processor.py
Due: black, flake8, isort, pytype, bandit, pylint

feat: add custom postgres operator
  pipelines/helpers/__init__.py
  pipelines/helpers/time_utils.py
  pipelines/hooks/__init__.py
  pipelines/hooks/postgres.py
  pipelines/operators/exceptions.py
  pipelines/operators/postgres.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, pytype, bandit, pylint

feat: add custom postgres operator (#11)
  pipelines/helpers/__init__.py
  pipelines/helpers/time_utils.py
  pipelines/hooks/__init__.py
  pipelines/hooks/postgres.py
  pipelines/operators/exceptions.py
  pipelines/operators/postgres.py
  poetry.lock
  pyproject.toml
Due: black, flake8, isort, pytype, bandit, pylint

fix: add check on empty payload
  pipelines/tasks/http.py
Due: black, flake8, isort, pytype, bandit, pylint

feat: add tests
  .gitignore
  tests/conftest.py
  tests/dags/test_etl_dpt_and_population.py
  tests/operators/test_postgres_monitor.py
  tests/tasks/test_department_and_population_merger.py
  tests/tasks/test_department_processor.py
  tests/tasks/test_http.py
  tests/tasks/test_population_processor.py
Due: black, flake8, isort, pytype

chore: dependenciies
  infrastructure/docker-compose.yaml
  poetry.lock
  pyproject.toml
Due: none

chore: minimal setup
  Makefile
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  isort: any of: \.py$
  pytype: any of: \.py$
  bandit: any of: \.py$, but not: tests
  pylint: any of: \.py$, but not: tests
